body {
  background-color: #e5eff9;
}
.inventory {
  /*position: fixed;*/
  /*left: 20px;*/
  /*top: 100px;*/
}

.inv-ico {
  font-size: 23px;
  color: #39495C;
  cursor: pointer;
}

.inv-ico:hover {
  color: #888888;
}

.inv-add {
  font-size: 23px;
  cursor: pointer;
}

.inv-add:hover {
  color: #888888;
}

.inventory > ul li {
  display: block;
}

.ico-g-rule {
  color: #ffffff;
}

.ico-g-rule:hover {
  color: #e5e3e7;
}

.inventory_showcase {
  /*position: fixed;*/
  /*top: 100px;*/
  /*right: 20px;*/
}

  .inventory_showcase ul {
    padding: 0px;
    margin: 0px;
    border: 1px solid #304960;
    border-radius: 3px;
    background: #f9f9f9;
  }

  .inventory_showcase ul li {
    display: inline-table;
  }

.inventoryV:hover {
  background: #f0f9f4;
}

.inventory_add {
  /*position: fixed;*/
  /*right: 20px;*/
  /*top: 100px;*/
}

ul.dashlist , .dashlist li ul, ul.dashlist li{
  margin: 0px;
  padding: 0px;
}

ul.dashlist li{
  margin: 1px;
}

.dashlist li ul li {
  display: block;
  border: 1px solid;
}

.dashlist li ul li:first-child {
  border: 1px solid;
  padding: 3px;
}

.dashtable th{
  padding: 8px 9px !important;
  font-weight: 500;
  text-align: center;
}

.dashtable td{
  padding: 17px 9px !important;
  text-align: center;
}

table.dashtable {
  table-layout: fixed ;
}

.redColor {
  color: #f90521;
}

.darkBlueColor {
  color: #1a2c4c;
}

.lightGray {
  color: #acaeaf;
}

.greenColor {
  color: #30f934;
}

.yellowColor {
  color: #f9ef3c;
}

.titleonc {
  font-size: 20px;
}

.iniConfHandler {
  /*border: 1px solid #ccc;*/
  padding: 21px;
  background-color: #fff;
}

.therowsdash {
  /*border-left: 1px solid #ccc;*/
  /*border-right: 1px solid #ccc;*/
  margin-top: 18px;
  padding: 12px 7px 0px 7px;
  background-color: #fff;
}



.calculator {
  /*position: fixed;*/
  /*left: 20px;*/
  /*bottom: 3px;*/
}

.calculator > ul li {
  display: block;
}

.the-calculator {

}

.calc-icon {
  padding: 31px 20px 0 0;
}

.calculator_showcase ul {
  padding: 0px;
  margin: 0px;
  border: 1px solid #304960;
  border-radius: 3px;
  background: #f9f9f9;
}

.calculator_showcase ul li {
  display: inline-table;
}

.keepInline {
  display: inline-block;
}

.dragable-element-body {
  background: #fff;
  padding: 10px;
  border-radius: 0;
  border-bottom: 9px solid #cc8212;
}

.dragable-element-header {
  background: #0fa0ce;
}

.dragable-element-header:hover {
  background: #1eaedb;

}

.dragable-element {
  /*z-index: 9999;*/
}

/*.draggable {*/
  /*z-index: 9999 !important;*/
  /*width: 274px;*/
  /*height: auto !important;*/
/*}*/

.active .dragable-element-header {
  background: #1eaedb;

}

.dragable-element-header .header-caption {
  color: #fff;
  font-weight: 500;
}


/* Larger than Desktop HD */
@media (min-width: 1000px) {
  .draggable {
    z-index: 9999 !important;
    width: 274px;
    height: auto !important;
  }
  .maincalccont {
    background-color: #0089b1;
    border: 4px solid #fff;
    border-radius: 3px;
  }
}

/* Larger than mobile */
@media (max-width: 999px) {
  .draggable {
    z-index: 9999 !important;
    /* width: 274px; */
    height: auto !important;
    position: sticky !important;
    left: auto !important;
    right: auto !important;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 861px) {
  .dragable-element {
    width: 100% !important;
    margin-left: 0px;
  }
  .container {
    width: 100%;
  }
}

main {
  margin: 0px !important;
}

.button {
  border:0px;
  border-radius: 0px;
}
.button-blue {
  color: #fff;
  background-color: #0fa0ce;
}

.button-blue:hover {
  color: #fff;
  background-color: #1eaedb;
}
