<template>
  <div class="the-calculator">
    <form>
      <div class="six columns">
        <label for="getValue">Give Units</label>
        <input v-model="getValue" class="u-full-width" type="number" id="getValue">
        Take Value: {{ calcs.calculatorGetValueFromUnit(initialConfig, getValue).toFixed(2) }} &#8364;
      </div>

      <div class="six columns">
        <label for="giveUnit">Get Value</label>
        <input v-model="giveUnit" class="u-full-width" type="number" id="giveUnit">
        Give Units: {{ calcs.calculatorGiveUnitFromValue(initialConfig, giveUnit).toFixed(0) }}
      </div>
    </form>
  </div>
</template>

<script>
  import * as calcs from './basicCalculation'

  export default {
    component: {calcs},
    name: 'the-calculator',
    props: ['initialConfig'],
    data () {
      return {
        calcs: calcs,
        getValue: 0,
        giveUnit: 0,
        valueMultiplier: 0
      }
    }
  }
</script>

<style scoped>

</style>
