<template>
  <div class="unit-cost">

    <div class="row therowsdash">
      <div class="u-full-width columns">
        <div class="twelve column titleonc">
          Unit Indicator
        </div>
        <table class="u-full-width dashtable">
          <thead>
          <tr>
            <th>Buy</th>
            <th>Sell</th>
            <th>Ongoing</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ calcs.findUnitBuyCost(initialConfig).toFixed(2) }} &#8364;</td>
            <td>{{ calcs.findUnitSellCost(initialConfig).toFixed(2) }} &#8364;</td>
            <td>{{ calcs.realSellUnit(inventory).toFixed(2) }} &#8364;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row therowsdash">
      <div class="six columns">
        <div class="twelve column titleonc">
          Expectations
        </div>
        <table class="u-full-width dashtable">
          <thead>
          <tr>
            <th>Min Target</th>
            <th>Min Profit</th>
            <th>Max Target</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ calcs.findMinTarget(inventory, initialConfig).toFixed(2) }} &#8364;</td>
            <td>{{ calcs.findMinProfit(inventory, initialConfig).toFixed(2) }} &#8364;</td>
            <td>{{ calcs.maxTarget(inventory, initialConfig).toFixed(2) }} &#8364;</td>
          </tr>
          </tbody>
        </table>
        <!--<ul class="u-full-width columns dashlist">-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Min Target</li>-->
        <!--<li>{{ calcs.findMinTarget(inventory, initialConfig).toFixed(2) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Min Profit</li>-->
        <!--<li>{{ calcs.findMinProfit(inventory, initialConfig).toFixed(2) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Max Target</li>-->
        <!--<li>{{ calcs.maxTarget(inventory, initialConfig).toFixed(2) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
      </div>

      <div class="six columns">
        <div class="twelve column titleonc">
          Inventory status
        </div>
        <table class="u-full-width dashtable">
          <thead>
          <tr>
            <th>Unit Given</th>
            <th>Value Taken</th>
            <th>Remaining Unit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ calcs.findUnitInventorySum(inventory) }}</td>
            <td>{{ calcs.findValueInventorySum(inventory).toFixed(2) }} &#8364;</td>
            <td>{{ calcs.findRemainingUnit(inventory, initialConfig) }}</td>
          </tr>
          </tbody>
        </table>

        <!--<ul class="u-full-width columns dashlist">-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Unit Given</li>-->
        <!--<li>{{ calcs.findUnitInventorySum(inventory) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Value Taken</li>-->
        <!--<li>{{ calcs.findValueInventorySum(inventory) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="four columns">-->
        <!--<ul>-->
        <!--<li>Remaining Unit</li>-->
        <!--<li>{{ calcs.findRemainingUnit(inventory, initialConfig) }}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
      </div>
    </div>


    <div class="row therowsdash">
      <div class="eight columns">
        <div class="twelve column titleonc">
          Track Progress
        </div>
        <table class="u-full-width dashtable">
          <thead>
          <tr>
            <th>Progress spend</th>
            <th>Progress profit</th>
            <th>Units to target</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{ calcs.findSpendProgress(inventory, initialConfig).toFixed(2) }} &#8364;
              <span class="typcn "v-bind:class="progressSpend"></span>
            </td>
            <td>
              {{ calcs.findProfitProgress(inventory, initialConfig).toFixed(2) }} &#8364;
              <span class="typcn "v-bind:class="progressProfit"></span>
            </td>
            <td>{{ calcs.unitsToReachTarget(inventory, initialConfig).toFixed(0) }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="four columns">
        <div class="twelve column titleonc">
          Based on inventory indications
        </div>
        <table class="u-full-width dashtable">
          <thead>
          <tr>
            <th>Profitability</th>
            <th>Expected Profit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{ calcs.inventoryProfitability(inventory, initialConfig).toFixed(2) }} &#8364;
              <span class="typcn "
                    v-bind:class="profitabilityClass"></span>
            </td>
            <td>
              {{ calcs.expectedInventoryValueBasedOnMargin(inventory, initialConfig).toFixed(2) }} &#8364;
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>


    <!--Sum of inventory given unit: {{ calcs.findUnitInventorySum(inventory) }} <br>-->
    <!--Sum of inventory taken value: {{ calcs.findValueInventorySum(inventory) }} <br>-->
    <!--Remaining unit: {{ calcs.findRemainingUnit(inventory, initialConfig) }} <br>-->

    <!--Progress spend:  {{ calcs.findSpendProgress(inventory, initialConfig) }}<br>-->
    <!--Progress profit:  {{ calcs.findProfitProgress(inventory, initialConfig).toFixed(2) }}<br>-->
    <!--Reach Min Target after selling unit:  <br>-->
    <!--Min Target:  {{ calcs.findMinTarget(inventory, initialConfig).toFixed(2) }}<br>-->
    <!--Min Profit:  {{ calcs.findMinProfit(inventory, initialConfig).toFixed(2) }}<br>-->
    <!--Max Target based on multipliyer:  {{ calcs.maxTarget(inventory, initialConfig).toFixed(2) }}<br>-->

    <!--Profitability Based on Inventory values:  {{ calcs.inventoryProfitability(inventory, initialConfig).toFixed(2) }}<br>-->
    <!--Expected Profit based on margin profit :  {{ calcs.expectedInventoryValueBasedOnMargin(inventory, initialConfig).toFixed(2) }}<br>-->


  </div>
</template>

<script>
  import * as calcs from './basicCalculation'

  export default {
    component: {calcs},
    name: 'unit-cost',
    props: ['initialConfig', 'inventory'],
    data () {
      return {
        calcs: calcs
      }
    },
    computed: {
      profitabilityClass: function () {
        let profitability = this.calcs.inventoryProfitability(this.$props.inventory, this.$props.initialConfig)
        return (profitability > 0) ? 'typcn-arrow-up-thick greenColor' : (profitability === 0) ? 'media-record-outline yellowColor' : 'typcn-arrow-down-thick redColor'
      },
      progressSpend: function () {
        let progress = this.calcs.findSpendProgress(this.$props.inventory, this.$props.initialConfig)
        return (progress > 0) ? 'typcn-arrow-up-thick greenColor' : (progress === 0) ? 'media-record-outline yellowColor' : 'typcn-arrow-down-thick redColor'
      },
      progressProfit: function () {
        let progress = this.calcs.findProfitProgress(this.$props.inventory, this.$props.initialConfig)
        return (progress > 0) ? 'typcn-arrow-up-thick greenColor' : (progress === 0) ? 'media-record-outline yellowColor' : 'typcn-arrow-down-thick redColor'
      }
    }
  }
</script>

<style scoped>

</style>

