<template>
  <div class="hello">
    <div class="container maincalccont">
      <div class="row" style="background-color: #0991b9">
        <div class="four columns dragable-element" style="margin-left: 0px;">
          <div class="twelve columns dragable-element">
            <div class="drag-handle dragable-element-header">
          <span v-on:click="togleInvAddElements" class="typcn typcn-document-add inv-add ico-g-rule"
                v-bind:class="{lightGray: addInventoryElement}"></span>
              <span class="header-caption">
              Add inventory
            </span>
            </div>
          </div>
          <div class="twelve columns dragable-element">
            <div class="drag-handle dragable-element-header">
                <span v-on:click="togleInvViewElements" class="typcn typcn-clipboard inv-ico ico-g-rule"
                      v-bind:class="{lightGray: viewInventoryElements}">
                </span>
              <span class="header-caption">
                <span style="font-size:13px">{{inventoryEntries.length}}</span> Inventory Items</span>
            </div>
          </div>
          <div class="twelve columns dragable-element">
            <div class="drag-handle dragable-element-header">
                <span v-on:click="togleCalculationTool" class="typcn typcn-spanner-outline inv-ico ico-g-rule"
                      v-bind:class="{lightGray: showCalculatorTool}">
                </span>
              <span class="header-caption"> Calculation Tools</span>
            </div>
          </div>
        </div>

        <div class="eight columns dragable-element">
          <div class="inventory_add dragable-element-body" v-if="addInventoryElement">
            <div>
              <form>
                <div class="row">
                  <div class="six columns">
                    <label for="unitSize">Given Unit</label>
                    <input v-model="inventoryEntry.givenUnitSize" class="u-full-width" type="number" id="givenUnitSize">
                  </div>

                  <div class="six columns">
                    <label for="unitSizeCost">Taken Value</label>
                    <input v-model="inventoryEntry.takenValueCost" class="u-full-width" type="number"
                           id="takenValueCost">
                  </div>

                  <div class="twelve columns">
                    <label for="unitSizeCost">Short Note</label>
                    <input v-model="inventoryEntry.entryNotes" class="u-full-width" type="text" id="entryNotes">
                  </div>
                </div>
                <div class="button button-blue" style="padding: 0px 24px;" v-on:click="addOnInventory">Add on
                  inventory
                </div>
              </form>
            </div>
          </div>
          <div class="inventory dragable-element-body" v-if="viewInventoryElements">
            <div class="inventory_showcase">
              <ul>
                <inventory-v v-for="(item, index) in inventoryEntries"
                             v-bind:item="item"
                             v-bind:index="index"
                             v-bind:key="item.id"
                             v-on:remove="removeFromInventory(item, index)"
                >
                </inventory-v>
              </ul>

            </div>
          </div>
          <div class="calculator" v-if="showCalculatorTool">
            <div class="twelve columns dragable-element-body">
              <div>
                <form style="margin-bottom: 0px;">
                  <label for="profitMultiplier">Profit multiplier {{initialConfig.valueMultiplier}}</label>
                  <input v-model="initialConfig.valueMultiplier" min="0.001" max="10.000" step="0.01"
                         class="u-full-width"
                         type="range" id="profitMultiplier">
                </form>
              </div>

              <div>
                <calculator
                  :initialConfig=initialConfig
                ></calculator>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row iniConfHandler">
        <form>
          <div class="four columns">
            <label for="unitSize">Unit Size</label>
            <input v-model="initialConfig.unitSize" class="u-full-width" type="number" id="unitSize">
          </div>

          <div class="four columns">
            <label for="unitSizeCost">Unit Size Cost</label>
            <input v-model="initialConfig.unitSizeCost" class="u-full-width" type="number" id="unitSizeCost">
          </div>

          <div class="four columns">
            <label for="profitMargin">Profit Margin {{initialConfig.profitMargin}}</label>
            <input v-model="initialConfig.profitMargin" min="0.01" max="3.00" step="0.01" class="u-full-width"
                   type="range" id="profitMargin">
          </div>
        </form>
      </div>
      <!-- columns should be the immediate child of a .row -->
      <div class="row" v-if="readyToServe">
        <div class="twelve columns">
          <unit-cost
            :initialConfig=initialConfig
            :inventory=inventoryEntries
          ></unit-cost>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import UnitCost from './calculations/UnitCost'
  import InventoryV from './Inventory'
  import Calculator from './calculations/Calculator'
  import VueDraggableResizable from 'vue-draggable-resizable'

  export default {
    name: 'hello',
    components: {UnitCost, InventoryV, Calculator, VueDraggableResizable},
    data () {
      return {
        version: 1,
        dbStatus: true,
        inventoryEntries: [],
        inventoryEntry: {
          id: 0,
          givenUnitSize: 0,
          takenValueCost: 0,
          entryNotes: ''
        },
        countThing: 0,
        theDb: null,
        viewInventoryElements: false,
        addInventoryElement: false,
        showCalculatorTool: false,
        activeInventoryTab: false,
        readyToServe: false,
        initialConfig: {
          unitSizeCost: 0,
          unitSize: 0,
          profitMargin: 0,
          valueMultiplier: 0
        }
      }
    },
    watch: {
      initialConfig: {
        handler: function (after, before) {
          if (after.unitSize > 0 && after.unitSizeCost > 0 && after.profitMargin > 0) {
            this.readyToServe = true
            this.palcSaveOrUpdateOnDB('Config', this.initialConfig, true)
          }
        },
        deep: true
      }
    },
    methods: {
      removeFromInventory: function (item, index) {
        let palcSpace = this.createIndexDbInst()
        palcSpace.onsuccess = function (event) {
          let db = event.target.result
          let transaction = db.transaction(['Inventory'], 'readwrite')
          let objectStore = transaction.objectStore('Inventory')
          let getData = objectStore.delete(item.id)
          getData.onerror = function (event) {
            console.log('indexed_db_error_')
          }
          getData.onsuccess = function (event) {
            console.log('removed')
          }
        }
        this.inventoryEntries.splice(index, 1)
      },
      togleInvViewElements: function () {
        this.addInventoryElement = false
        this.showCalculatorTool = false
        this.viewInventoryElements = (!this.viewInventoryElements)
      },
      togleInvAddElements: function () {
        this.viewInventoryElements = false
        this.showCalculatorTool = false
        this.addInventoryElement = (!this.addInventoryElement)
      },
      togleCalculationTool: function () {
        this.viewInventoryElements = false
        this.addInventoryElement = false
        this.showCalculatorTool = (!this.showCalculatorTool)
      },
      addOnInventory: function () {
        // if (this.inventoryEntries.find(i => i.id === this.countThing)) {
        //   console.log('error_this_count_exists')
        //   return
        // }
        if (this.inventoryEntry.givenUnitSize <= 0 || this.inventoryEntry.takenValueCost <= 0) {
          console.log('error_complete_all_data_form')
          return
        }
        // save on db
        this.palcSaveOrUpdateOnDB('Inventory', this.inventoryEntry, false)
        let inventoryEntry = {
          'givenUnitSize': this.inventoryEntry.givenUnitSize,
          'takenValueCost': this.inventoryEntry.takenValueCost,
          'entryNotes': this.inventoryEntry.entryNotes,
          'id': this.countThing
        }
        console.log(this.countThing)
        this.inventoryEntry.id = this.countThing
        this.countThing++
        let newarr = this.inventoryEntries.slice()
        newarr.push(inventoryEntry)
        this.inventoryEntries = newarr
        console.log(this.inventoryEntries)
      },
      palcSaveOrUpdateOnDB: function (table, data, clear) {
        let palcSpace = this.createIndexDbInst(null)
        let that = this
        palcSpace.onsuccess = function (event) {
          console.log('eventomalakia', event)
          let theVersion = 1
          let version = parseInt(palcSpace.result.version)
          console.log('db version:', version)
          if (version != null && version >= theVersion) {
            theVersion = version + 1
            console.log('current version change:', theVersion)
          }
          palcSpace.result.close()
          this.dbStatus = false
          let makeRequest = that.createIndexDbInst(theVersion)
          makeRequest.onupgradeneeded = function (event) {
            let palcSpaceDb = event.target.result
            if (!palcSpaceDb.objectStoreNames.contains(table)) {
              that.setupOurInstance(palcSpaceDb, table, data)
            }
          }
          console.log('DBIN')
          makeRequest.oncomplete = function () {
            console.log('Completed', makeRequest)
            that.dbStatus = true
          }
          makeRequest.onsuccess = function (event) {
            let dbspace = event.target.result
            let transaction = dbspace.transaction([table], 'readwrite')
            let theObjectStore = transaction.objectStore(table)
            if (clear) {
              theObjectStore.clear()
            }
            let setOnDb = theObjectStore.put(data)
            setOnDb.onerror = function (event) {
              console.log('indexed_db_error_' + table)
            }
            setOnDb.onsuccess = function (event) {
              if (!clear) {
                this.countThing = event.target.result
              }
              console.log('eventmorimalakia', event)
            }
            makeRequest.result.close()
            console.log('indexed_db_created_' + table)
          }
          makeRequest.onerror = function (event) {
            console.log('Error', makeRequest)
            that.dbStatus = true
            console.log('indexed_db_error_' + table)
          }
        }
        console.log('current version:')
      },
      updateIndexDbInst: function (table, data) {
        console.log('db version:', this.version)
        // increase the version
        this.version = this.version + 1
        console.log('current version change:', this.version)
        // start the update
        let palcSpace = this.createIndexDbInst(this.version)
        console.log('current version change:', this.version)
        palcSpace.onsuccess = function (event) {
          let indexeddb = palcSpace.result
          let transaction = indexeddb.transaction([table], 'readwrite').objectStore(table)
          let objectStore = transaction.objectStore(table)
          let requesttrans = objectStore.put(data)

          requesttrans.onerror = function (event) {
            console.log('indexed_db_error_' + table)
          }
          requesttrans.onsuccess = function (event) {
          }
        }
        palcSpace.onerror = function (event) {
        }
      },
      setInitialConfigData: function () {
        let palcSpace = this.createIndexDbInst()
        let that = this
        palcSpace.onsuccess = function (event) {
          let db = event.target.result
          let transaction = db.transaction(['Config'], 'readwrite')
          let objectStore = transaction.objectStore('Config')
          let getData = objectStore.getAll()
          getData.onerror = function (event) {
            console.log('indexed_db_error_')
          }
          getData.onsuccess = function (event) {
            that.syncWithInitialConfigData(getData.result[0])
          }
        }
      },
      syncWithInitialConfigData: function (fromDB) {
        console.log('theDats', fromDB)
        // eslint-disable-next-line eqeqeq
        if (!fromDB || fromDB == undefined) {
          return
        }
        this.initialConfig.profitMargin = fromDB.profitMargin
        this.initialConfig.unitSize = fromDB.unitSize
        this.initialConfig.unitSizeCost = fromDB.unitSizeCost
        this.initialConfig.valueMultiplier = fromDB.valueMultiplier
      },
      setInitialInventoryData: function () {
        let palcSpace = this.createIndexDbInst()
        let that = this
        palcSpace.onsuccess = function (event) {
          let db = event.target.result
          let transaction = db.transaction(['Inventory'], 'readwrite')
          let objectStore = transaction.objectStore('Inventory')
          let getData = objectStore.getAll()
          getData.onerror = function (event) {
            console.log('indexed_db_error_')
          }
          getData.onsuccess = function (event) {
            that.syncWithInitialInventoryData(getData.result)
          }
        }
      },
      syncWithInitialInventoryData: function (fromDB) {
        console.log('theDats', fromDB)
        // eslint-disable-next-line eqeqeq
        if (!fromDB || fromDB == undefined) {
          return
        }
        for (let i = 0; fromDB.length > i; i++) {
          console.log(this.countThing)
          let newarr = this.inventoryEntries.slice()
          newarr.push(fromDB[i])
          this.inventoryEntries = newarr
          console.log(this.inventoryEntries)
        }
        // set id starting point
        this.countThing = fromDB.length
      },
      createIndexDbInst: function (version) {
        let theDb = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB ||
          window.msIndexedDB

        window.IDBTransaction = window.IDBTransaction || window.webkitIDBTransaction || window.msIDBTransaction
        window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange || window.msIDBKeyRange

        if (!theDb) {
          window.alert('Your browser doesn\'t support a stable version of IndexedDB.')
          return
        }
        let responseDB
        if (version == null) {
          responseDB = theDb.open('PalcSpace')
        } else {
          responseDB = theDb.open('PalcSpace', version)
        }
        // console.log('alohaproka', responseDB)
        // this.version = responseDB.result.version
        return responseDB
      },
      createUpdateInstance: function (palcSpaceDb, table, data) {
        palcSpaceDb.result.transaction(table, 'readwrite').objectStore(table).clear().put(data)
        palcSpaceDb.result.oncomplete = function () {
          this.dbStatus = true
        }
      },
      setupOurInstance: function (palcSpaceDb, table, data) {
        switch (table) {
          case 'Inventory':
            let inventoryTable = palcSpaceDb.createObjectStore(table, {keyPath: 'id', autoIncrement: true})
            inventoryTable.createIndex('by_id', 'id')
            inventoryTable.createIndex('by_givenUnitSize', 'givenUnitSize')
            inventoryTable.createIndex('by_takenValueCost', 'takenValueCost')
            inventoryTable.createIndex('by_entryNotes', 'entryNotes')
            inventoryTable.put(data)
            break
          case 'Config':
            let configTable = palcSpaceDb.createObjectStore('Config', {keyPath: 'id', autoIncrement: true})
            configTable.createIndex('sizeCost', 'unitSizeCost')
            configTable.createIndex('unitSize', 'unitSize')
            configTable.createIndex('profitMargin', 'profitMargin')
            configTable.createIndex('valueMultiplier', 'valueMultiplier')
            configTable.put(data)
            break
          default:
            console.log('no_proper_table_action')
        }
      }
    },
    mounted () {
      this.palcSaveOrUpdateOnDB('Config', this.initialConfig, true)
      this.setInitialConfigData()
      this.setInitialInventoryData()
      // console.log('yo')
      // this.palcSaveOrUpdateOnDB('Inventory', this.inventoryEntry, false)
      // if (this.dbStatus) {
      //   this.configSave()
      // }
      // // save on index every x seconds the initial config
      // this.$nextTick(function () {
      //   window.setInterval(() => {
      //     this.palcSaveOrUpdateOnDB('Config', this.initialConfig, true)
      //     console.log('config_save')
      //   }, 10000)
      // })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #35495E;
  }
</style>
