<template>
  <div class="inventoryV">
    <li>{{ item.givenUnitSize }}</li>
    <li>{{ item.takenValueCost }}</li>
    <li>{{ item.entryNotes }}</li>
    <li><span v-on:click="$emit('remove')" class="typcn typcn-delete"></span></li>
  </div>
</template>

<script>
  export default {
    name: 'inventoryV',
    props: ['item', 'index'],
    methods: {
      inventoryRemove: function (array, index) {
        this.$delete(array, index)
        return array
      }
    }
  }
</script>

<style scoped>

</style>
